body{
    display:inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: pink;
    margin: 15px;
}

h1{
    color: rgb(3, 4, 55);
    font-family:'Times New Roman', Times, serif

}

li{
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    text-align: start ;
    
    margin: 5px;
}

li .delete {
  justify-content:flex-end;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 50%;
  border: none;
  margin-left: 25px;

  background: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    
}

li button:hover {
  box-shadow: rgba(164, 46, 46, 0.4) 0 0 0 3px;
}


/* CSS */
.Add {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.Add:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.Add:hover {
  background-color: #2c974b;
}

.Add:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.Add:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.Add:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* From Uiverse.io by Yaseen549 */ 
input {
  color: black;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 190px;
}

input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

footer{
    
    color: black;
    font-size:1rem;
    
    text-align: center ;
    position:static;
    margin-bottom: 20px;
}

